.userInfoPage {
  .userId {
    font-size: 15px;
    color: #999;

    word-wrap: break-word;
  }

  .userName {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    color: #333;
  }

  .userOperateBtn {
    position: relative;
    top: 0px;
  }

  .sloganArea {
    padding: 12px;
    background-color: #fff;

    .sloganLabel {
      margin-bottom: 8px;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.45);
    }

    .slogan {
      font-size: 15px;
      color: rgba(0, 0, 0, 0.85);
      line-height: 23px;
    }
  }

  .tagTitle {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);
    margin: 12px 0;
  }

  .tagBar {
    margin-bottom: 16px;
  }

  .siteTagPlus {
    background: #fff;
    border-style: dashed;
    cursor: pointer;
  }
}
